[defaults]
host_key_checking = False
#inventory = /Users/sharrods/Documents/Techworld-with-nana/TWN-Ansible/hosts 
#inventory = hosts
#inventory = /Users/sharrods/Documents/Techworld-with-nana/TWN-Ansible/ansible-projects/java-maven-app/ansible/inventory_aws_ec2.yaml
inventory = /root/inventory_aws_ec2.yaml
enable_plugins = aws_ec2

remote_user = ec2-user
private_key_file = /root/multi-cloud-key
